<h3>Dashboard</h3>

<div class="row mt-5 text-center">
  <div class="col">
    <div class="card text-white bg-primary mb-3 w-100">
      <div class="card-header">My budget</div>
      <div class="card-body">
        <h5 class="card-title">&euro; 2000.00</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-header">Spent</div>
      <div class="card-body">
        <h5 class="card-title">&euro; 464.39</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white bg-success mb-3">
      <div class="card-header">Remaining</div>
      <div class="card-body">
        <h5 class="card-title">&euro; 1535.61</h5>
      </div>
    </div>
  </div>
</div>

<h3 class="mt-5">Upcoming bills</h3>

<table class="table mt-3">
  <tbody>
    <tr *ngFor="let bill of bills$ | async">
      <td>{{ bill.name }}</td>
      <td>&euro; {{ bill.amount }}</td>
    </tr>
  </tbody>
</table>
